.App {
  text-align: left;
  min-height: 100vh;
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
}

.main-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 24px;
}

@media (min-width: 900px) {
  .main-container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
